<html>
	
	<head>

	<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
	<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<title>
			view 
		</title>
	</head>

	<script type="text/javascript">
	
	function boardlist()
	{
		var s= "{{search_str}}";
		alert(s);
		if(s=="None")
			location.href = '/listSpecificPageWork?current_page={{currentpage}}';
		else
			location.href = '/listSearchedSpecificPageWork?pageForView={{current_page}}&serch_str={{search_srt}}';


	}	
	
	function boardmodify(){
		
		location.href='/listSpecificPageWork_to_update?memo_id={{memo_id}}&current_page={{current_page}}&search_str={{search_str}}';

	}
	
	function boarddelete(){
		location.href='DeleteSpecificRow?memo_id={{memo_id}}&current_page={{current_page}}';
	}

	</script>
  <table cellspacing = 0 cellpadding = 5 border = 1 width=500>
	<tr><td><b>조회수</b></td><td> {{ board_data.hits }} </td></tr>
       	<tr><td><b>이름 </b></td><td> {{ board_data.name }} </td></tr>
       	<tr><td><b>이메일 </b></td><td> {{ board_data.mail }} </td></tr>
	<tr><td><b>제목 </b></td><td> {{ board_data.subject }} </td></tr>
	<tr><td><b>내용 </b></td><td width=350> {{ board_data.memo }} </td></tr>
  </table>

  <table  cellspacing = 0 cellpadding = 0 border = 0 width=500>
	 <tr><td>
		 <input type=button value="수정" OnClick="javascript:boardmodify()">
	 	<input type=button value="목록" OnClick=boardlist()>
	 	<input type=button value="삭제" OnClick="javascript:boarddelete()">
	</td></tr>
</table>  
</html>
